
<h3>Navigation</h3>
<nav>
<ul>
<li><%= link_to  'New purchase', new_purchase_path(@purchase) %></li>
<li><%= link_to 'Show all ', purchases_path %></li>
<li><%= link_to "Last mount", last_month_purchases_path, :method => :get %></li>
<li><%= link_to "Last year", last_year_purchases_path, :method => :get %></li>
<li><%= form_tag purchases_path, :method => 'get' do %>
Filter by: <%= select_tag(:category_name, options_for_select(@category_list,  selected: params[:category_name]), onchange: 'this.form.submit();',  include_blank: true ,  )%>
<% end %></li>
<li><%= form_tag purchases_path, :method => 'get' do %>
Statistic by date: <%= select_tag(:buy_at, options_for_select(@date_list,  selected: params[:buy_at]), onchange: 'this.form.submit();',  include_blank: true)%>
<% end %></li>

<li><%= link_to "Remove all", remove_all_purchases_path, :method => :get %></li>
</ul>
</nav>
<h3>List of your puchases</h3>
<%= render @purchases %>
<h3>Total cost:<%= @total_cost %> </h3>


